<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- <a href="{% url 'dotman007_richardscrumy:about' %}">About us</a> -->


    {% if form.errors %} <p><strong>invalid login credentials</strong> </p> {% endif %} 
    <form action="{%  url 'dotman007_richardscrumy:about'%}" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="Submit">
    </form>

    

</body>
</html>


