<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<nav style="float: right; padding: 20px; background-color:blanchedalmond;">
    <span style="padding: 20px; font-size:large"> <strong>Hello, {{request.user}}</strong></span>

    {% if request.user.is_authenticated %}
        <span style="font-size:large"> <strong>Group:</strong> 
            {% for group in request.user.groups.all %}
            {{ group }}{% endfor %}
        </span>
    {% endif %}
</nav><br>


    <form action="{%  url 'dotman007_richardscrumy:add_goal'%}" method="post">
        {%csrf_token%}
        {{ goal }}

        <input type="submit" value="Submit">
    </form>
</body>
</html>