<form action="" method="post">
  {%csrf_token%}

  <select name="group_name">
    {% for g in groupList %}
    <option value="{{ g.name }}">{{ g.name }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Submit" />
</form>
