{% extends "dotman007_richardscrumy/base.html" %}

{% block title %}HOME{% endblock title %}
{% block content %}
   

    <style>  
        /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        } */


        tr:nth-child(even) {
  background-color: #f2f2f2;
}
    </style>

<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Goals Table

                <a href="{%  url 'dotman007_richardscrumy:add_goal'%}" class="btn btn-success btn-icon-split float-right" data-toggle="modal"  data-target="#addGoalModal">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Add Goal</span>
                </a>
            </h6> 
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
    <table class="table table-bordered trip" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>User</th>
                <th>Weekly Goals</th>
                <th>Daily Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
                
            </tr>
        </thead>
        <tfoot>
            <th>User</th>
                <th>Weekly Goals</th>
                <th>Daily Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
        </tfoot>
        <tbody>
        {% for u in users %}
        <tr>     
            <td>{{ u.username }}</td>
            <td>
            {% for w in weekly %}
                {% if w.user.username == u.username %}   
                    {% if d_group and w.user.username != request.user.username%}  
                        <span><b>{{ w.goal_id }}</b> {{ w.goal_name }} </span>
                    {%else%}
                    <b>{{ w.goal_id }}</b> {{ w.goal_name }} || 
                        <a href="#" class="moveGoal btn btn-primary btn-icon-split btn-sm" 
                        data-toggle="modal"
                        data-target="#moveGoalModal" goalId ="{{ w.goal_id }}">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Move Goal</span>
                        </a>
                        <br> 
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
            <td>
            {% for d in daily %}
                {% if d.user.username == u.username %}   
                    {% if d_group and d.user.username != request.user.username%}  
                        <span>{{ d.goal_id }} {{ d.goal_name }} </span>
                    {%else%}
                        {{ d.goal_id }} {{ d.goal_name }} ||
                        <a href="#" class="moveGoal btn btn-primary btn-icon-split btn-sm" 
                        data-toggle="modal"
                        data-target="#moveGoalModal" goalId ="{{ d.goal_id }}">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Move Goal</span>
                        </a>
                        <br> 
                        
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            </td>
            <td>
            {% for v in verify %}
                {% if v.user.username == u.username %}   
                    {% if d_group and v.user.username != request.user.username%}  
                        <span>{{ v.goal_id }} {{ v.goal_name }} </span>
                    {%else%}
                        {{ v.goal_id }} {{ v.goal_name }} ||
                        <a href="#" class="moveGoal btn btn-primary btn-icon-split btn-sm" 
                        data-toggle="modal"
                        data-target="#moveGoalModal" goalId ="{{ v.goal_id }}">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Move Goal</span>
                        </a>
                        <br>                       
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
            <td>
            {% for dn in done %}
                {% if dn.user.username == u.username %}   
                    {% if d_group and dn.user.username != request.user.username%}  
                        <span>{{ dn.goal_id }} {{ dn.goal_name }} </span><br>
                    {%else%}
                        {{ dn.goal_id }} {{ dn.goal_name }} ||
                        <a href="#" class="moveGoal btn btn-primary btn-icon-split btn-sm" 
                        data-toggle="modal"
                        data-target="#moveGoalModal" goalId ="{{ dn.goal_id }}">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Move Goal</span>
                        </a>
                        <br>   
                        
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}   
    </tbody>
    </table>
</div>
</div>
</div>
</div>
    <br>

    {% comment %} <button style="background-color:rgb(109, 109, 240);" ><a style="font-size: large; color: white;" href="{%  url 'dotman007_richardscrumy:add_goal'%}">Add Goal</a></button>  {% endcomment %}
 


    
    <!-- Move goal Modal-->
    <div
      class="modal fade"
      id="moveGoalModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Move Goal?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" id="moveGoalModalForm" method="post">
              {%csrf_token%}
              {{ move }}             
           </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" id="moveGoalModalSubmit" href="#">Move</a>
          </div>
        </div>
      </div>
    </div>


<!-- Change group Modal-->
    <div
      class="modal fade"
      id="changGroupModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Current User Group?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'dotman007_richardscrumy:group'%}" id="changeGroupForm" method="post">
                {%csrf_token%}

                <select name="group_name">
                    {% for g in groupList %}
                    <option value="{{ g.name }}">{{ g.name }}</option>
                    {% endfor %}
                </select>

 
            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" id="changeGroupSubmit" href="#">Change</a>
          </div>
        </div>
      </div>
    </div>

<!-- Add group Modal-->
    <div
      class="modal fade"
      id="addGoalModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Goal?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{%  url 'dotman007_richardscrumy:add_goal'%}" method="post" id="addGoalForm">
                {%csrf_token%}
               <textarea name="goal_name" id="goal_name"></textarea>

            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" id="addGoalSubmit" href="#">Add</a>
          </div>
        </div>
      </div>
    </div>
    
{% endblock content %}    